# macOS
.DS_Store
.AppleDouble
.LSOverride

# Xcode
*.xcodeproj
*.xcworkspace
xcuserdata/
DerivedData/

# Swift Package Manager
.build/
.swiftpm/
Packages/

# Build Results
*.app
*.dSYM

# Editor
.idea/
.vscode/
*.swp
*~
